body {
  background-color: #d7cec7;
  font-family: 'Gill Sans', sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #565656;
  color: whitesmoke;
  width: 300px;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
}

.sidebar h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
  padding-right: 20px;
}

.sidebar h2 {
  text-align: center;
  padding-right: 25px;
  font-size: 20px;
}

.body {
  display: flex;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 15px 4px 30px 8px;
  margin: 0;
}

.sidebar li a{
  padding-left: 25px;
  font-size: 15px;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #c09f80;
}

a:active {
  color: #c09f80;
}

.center {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.center .card {
  border: 2px solid #c09f80;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  width: 100%;
  background-color: #c09f80;
  float: left;
  font-size: 14px;
}